# Ignore everything in Home by default
/*
/.*

# Repository files and folders at Home root
!/LICENSE
!/README.md
!/preview/
!/scripts/
!/.zshrc
!/.gitignore
!/.config/

# Inside .config, ignore all non-versioned programs
/.config/*

# Only managed hyprdots configurations
!/.config/bin/
!/.config/dock/
!/.config/dunst/
!/.config/fish/
!/.config/gtk-3.0/
!/.config/gtk-4.0/
!/.config/hypr/
!/.config/kdedefaults/
!/.config/kitty/
!/.config/nvim/
!/.config/nwg-look/
!/.config/rofi/
!/.config/swappy/
!/.config/wallpapers/
!/.config/waybar/

# Temporary files and caches
*.log
*.tmp
__pycache__/
*.py[cod]
.cache/
