@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(0, 0, 0, 0.7);


* {
    font-family: "FiraCode Nerd Font", monospace;
   /* font-size: 16px; */
    padding: 0 0px;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    font-size: 15px;
    background: transparent;
    padding: 2px 6px;
    margin: 0 2px; 
    border: none;
    min-width: 0;
    border-radius: 0;
}
#workspaces button.active {
    color: #ffffff;
    background-color: #4c566a;
    border-bottom: 1px solid #81a1c1;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

.modules-right{
    font-size: 16px;
}

#custom-launcher,
#hyprland-window {
    padding-left: 0.1em;
    padding-right: 0.1em;
    
}
#memory,
#group-tray-expander-cpu,
#group-tray-expander-gpu,

#temperature,
#cpu,
#custom-gpu_temp_usage {
    padding-right: 0.5em;
}
#custom-expand-icon,
#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray,
#clock {
    padding-right: 9px 
}

#custom-os_button{
    border-radius: 2%;
    font-size: 30px;
    padding-right: 10px 
}

