window {
    font-family: "Fira Code", monospace;
    font-size: 16px;
    background-color: #0f0f0f;
    color: #eeeeee;
    border: none;
    padding: 10px;
}

#entry {
    padding: 8px 12px;
}

#entry:selected {
    background-color: #1f1f1f;
    color: #ffffff;
}

#input {
    margin: 10px;
    border: none;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 6px;
}

